body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section{margin:0;padding:0;}
html,body{box-sizing: border-box;position: relative;height: 100%;overflow: hidden;font-family: '兰亭黑简.TTF'}
html{font-size: 625%!important;}
dl,dd,ol,ul,li{list-style:none;list-style-type:none}
/*清除浮动*/
.clearfix{*zoom:1;} /*解决ie6/7下面的浮动塌陷问题*/
.clearfix:before,.clearfix:after{display:block;clear:both;height:0;visibility:hidden;content:" ";}
.fl{float:left;}.fr{float:right;}
.marginTop{margin:-20px auto 0 auto;}
.swiper-container{width: 100%;height: 100%;}
.swiper-slide {
    font-size: 16px;
    /* Center slide text vertically */
   /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*字体引用*/
@font-face {
    font-family: '方正兰亭准黑_GBK.TTF';
    src: url('../font/方正兰亭准黑_GBK.TTF');
}
@font-face {
    font-family: 'LanTingHeiDB-SC.otf';
    src: url('../font/LanTingHeiDB-SC.otf');
}
@font-face {
    font-family: '兰亭特黑简.TTF';
    src: url('../font/兰亭特黑简.TTF');
}
@font-face {
    font-family: '兰亭黑简.TTF';
    src: url('../font/兰亭黑简.TTF');
}
.zhongHei{font-family: '方正兰亭中黑_SC'}
.zhunHei{font-family: '方正兰亭准黑_GBK.TTF'}
.dbsc{font-family: 'LanTingHeiDB-SC.otf'}
.teHei{font-family: '兰亭特黑简.TTF'}
.heiJian{font-family: '兰亭黑简.TTF'}
/*导航 css*/
.navbar p{margin:0 auto;text-align: center;}
.navbar-brand>img {margin: 0 0 0 -14px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {color: #e72656!important;font-family: Arial;background-color: #fff!important;
}
.navbar-default {background-color:#ffffff;border:none;}
.navbar-collapse,.container-fluid{padding-right: 0!important;}

/*首页内容部分*/
/*left*/
.swiper-slide:nth-child(2){width: 1400px;height:100%;border: 1px solid mediumvioletred;margin: 0 auto;overflow: hidden;}
.swiper-slide:nth-child(3){height: 300px;background: #3e3a39}
.index-slide-l,.index-slide-r{width:45%;height:auto;border:1px solid rebeccapurple;margin: 10% auto}
.itemTop{margin: 7% 0 0 0}
.item{width:45%;height: 1.7rem;cursor: pointer;overflow: hidden}
.item span{display: block;width:50%;height:.5rem;}
.item span:nth-child(1){font-size: 40px;color:#b4b4b5;margin: -15px 0 0 0;font-family: DIN;font-weight: bold;}
.item span:nth-child(2){font-size: 10px;text-align: end;color:#b4b4b5;font-family: '兰亭黑简.TTF'}
.item p:nth-child(2){font-size: 18px;color:#e50043;font-family: '方正兰亭中黑_SC'}
.item p:nth-child(3){font-size: 12px;color:#949394;}
.item p:nth-child(4){font-size: 10px;color:#333;margin: 25px 0 0 0;}
.item-up{display: block;width: 100%;}
.itemHover{transform:scale(1.02,1.02);box-shadow:0 0 15px 0 gray;transition:all .8s;}
.animit-item{animation: fadeInLeft .8s;
    -webkit-animation: fadeInLeft .8s;
    -moz-animation: fadeInLeft .8s;
    -o-animation: fadeInLeft .8s;}
.itemNum{color: #c7152d;padding:0 0 0 15px;transition: all .8s}

/*right*/
#index-slide-r{position: relative;}
#index-slide-r span.cur{left:50%;transition: all .8s ease-out}
.index-slide-r{position:absolute;top:0;left:100%;width: 50%;height: 6rem;}
.index-r-left{width: 50%;height: 100%;}
.index-r-right{position:relative;width: 50%;height: 100%;}
.index-r-right p:nth-child(1){position: absolute;top:0;right:0;font-size: 24px;color:#b4b4b5;}
.index-r-right p:nth-child(2){position: absolute;top:35%;right:0;font-size: 50px;font-weight: bold;color:#b4b4b5;}
.index-logo img{position: absolute;top:45%;right: 0}
.index-r-right p:nth-child(4){position: absolute;top:53%;right:0;font-size: 16px;color:#888;}
.index-r-right p:nth-child(5){position: absolute;top:57%;right:0;font-size: 14px;color:#929292;}
.index-r-right p:nth-child(6){position: absolute;bottom:0;right:0;font-size: 14px;color:#b4b4b5;}



/*媒体查询*/
@media (max-width: 768px){
    .navbar{position:fixed!important;width: 100%;z-index:10}
}
@media (min-width: 768px){
    .navbar{width: 1400px;height: auto;margin: 0 auto;}
    .navbar-nav{float: right!important;}
    .navbar-nav>li>a {padding-top: 10px!important;padding-bottom: 10px!important;}
}
@media (min-width:1400px){
    .navbar,.swiper-slide:nth-child(2){width:1400px;}
}
@media (max-width:1400px) and (min-width: 1200px){
    .navbar,.swiper-slide:nth-child(2){width:1200px;}
}
@media (max-width:1200px) and (min-width: 1000px){
    .navbar,.swiper-slide:nth-child(2){width:1000px;}
}
@media (max-width:1000px) and (min-width: 768px){
    .navbar,.swiper-slide:nth-child(2){width:768px;}
}