body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section{margin:0;padding:0;}
html,body{box-sizing: border-box;position: relative;height: 100%;overflow: hidden;font-family: '兰亭黑简.TTF';color:#fff!important;}
html{font-size: 625%!important;}
dl,dd,ol,ul,li{list-style:none;list-style-type:none}
.borderL{border-left:1px solid #4e4e4e;}
.borderR{border-right:1px solid #4e4e4e;}
/*清除浮动*/
.clearfix{*zoom:1;} /*解决ie6/7下面的浮动塌陷问题*/
.clearfix:before,.clearfix:after{display:block;clear:both;height:0;visibility:hidden;content:" ";}
.fl{float:left;}.fr{float:right;}
.marginTop{margin:-20px auto 0 auto;}
.swiper-container{width: 100%;height: 100%;}
.swiper-slide {
    font-size: 16px;
    /* Center slide text vertically */
   /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*字体引用*/
@font-face {
    font-family: '方正兰亭准黑_GBK.TTF';
    src: url('../font/方正兰亭准黑_GBK.TTF');
}
@font-face {
    font-family: 'LanTingHeiDB-SC.otf';
    src: url('../font/LanTingHeiDB-SC.otf');
}
@font-face {
    font-family: '兰亭特黑简.TTF';
    src: url('../font/兰亭特黑简.TTF');
}
@font-face {
    font-family: '兰亭黑简.TTF';
    src: url('../font/兰亭黑简.TTF');
}
/*地址图标*/
@font-face {
    font-family: 'iconfont';
    src: url('../font/font_address/iconfont.eot');
    src: url('../font/font_address/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/font_address/iconfont.woff') format('woff'),
    url('../font/font_address/iconfont.ttf') format('truetype'),
    url('../font/font_address/iconfont.svg#iconfont') format('svg');
}
.icon_address{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    color:#ddd;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*电话图标*/
@font-face {
    font-family: 'iconfont';
    src: url('../font/font-tel/iconfont.eot');
    src: url('../font/font-tel/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/font-tel/iconfont.woff') format('woff'),
    url('../font/font-tel/iconfont.ttf') format('truetype'),
    url('../font/font-tel/iconfont.svg#iconfont') format('svg');
}
.icon_tel{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*电话图标2*/
@font-face {
    font-family: 'iconfont';
    src: url('../font/font_tel2/iconfont.eot');
    src: url('../font/font_tel2/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/font_tel2/iconfont.woff') format('woff'),
    url('../font/font_tel2/iconfont.ttf') format('truetype'),
    url('../font/font_tel2/iconfont.svg#iconfont') format('svg');
}
.icon_tel2{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*邮箱*/
@font-face {
    font-family: 'iconfont';
    src: url('../font/font_mailer/iconfont.eot');
    src: url('../font/font_mailer/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/font_mailer/iconfont.woff') format('woff'),
    url('../font/font_mailer/iconfont.ttf') format('truetype'),
    url('../font/font_mailer/iconfont.svg#iconfont') format('svg');
}
.icon_mailer{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.zhongHei{font-family: '方正兰亭中黑_SC'}
.zhunHei{font-family: '方正兰亭准黑_GBK.TTF'}
.dbsc{font-family: 'LanTingHeiDB-SC.otf'}
.teHei{font-family: '兰亭特黑简.TTF'}
.heiJian{font-family: '兰亭黑简.TTF'}

/*导航 css*/
.navbar p{margin:0 auto;text-align: center;}
.navbar-brand>img {margin: 0 0 0 -14px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {color: #e72656!important;font-family: Arial;background-color: #fff!important;
}
.navbar-default {background-color:#ffffff;border:none;}
.navbar-collapse,.container-fluid{padding-right: 0!important;}

/*首页内容部分*/
/*left*/
.swiper-slide:nth-child(2){width: 1400px;height:100%;border: 1px solid mediumvioletred;margin: 0 auto;overflow: hidden;}
.swiper-slide:nth-child(3){height:4.1rem;}
.index-slide-l,.index-slide-r{width:45%;height:auto;border:1px solid rebeccapurple;margin: 10% auto}
.itemTop{margin: 7% 0 0 0}
.item{width:45%;height: 1.7rem;cursor: pointer;overflow: hidden}
.item span{display: block;width:50%;height:.5rem;}
.item span:nth-child(1){font-size: 40px;color:#b4b4b5;margin: -15px 0 0 0;font-family: DIN;font-weight: bold;}
.item span:nth-child(2){font-size: 10px;text-align: end;color:#b4b4b5;font-family: '兰亭黑简.TTF'}
.item p:nth-child(2){font-size: 18px;color:#e50043;font-family: '方正兰亭中黑_SC'}
.item p:nth-child(3){font-size: 12px;color:#949394;}
.item p:nth-child(4){font-size: 10px;color:#333;margin: 25px 0 0 0;}
.item-up{display: block;width: 100%;}
.itemHover{transform:scale(1.02,1.02);box-shadow:0 0 15px 0 gray;transition:all .8s;}
.animit-item{animation: fadeInLeft .8s;
    -webkit-animation: fadeInLeft .8s;
    -moz-animation: fadeInLeft .8s;
    -o-animation: fadeInLeft .8s;}
.itemNum{color: #c7152d;padding:0 0 0 15px;transition: all .8s}

/*right*/
#index-slide-r{position: relative;}
#index-slide-r span.cur{left:50%;transition: all .8s ease-out}
.index-slide-r{position:absolute;top:0;left:100%;width: 50%;height: 6rem;}
.index-r-left{width: 50%;height: 100%;}
.index-r-right{position:relative;width: 50%;height: 100%;}
.index-r-right p:nth-child(1){position: absolute;top:0;right:0;font-size: 24px;color:#b4b4b5;}
.index-r-right p:nth-child(2){position: absolute;top:35%;right:0;font-size: 50px;font-weight: bold;color:#b4b4b5;}
.index-logo img{position: absolute;top:45%;right: 0}
.index-r-right p:nth-child(4){position: absolute;top:53%;right:0;font-size: 16px;color:#888;}
.index-r-right p:nth-child(5){position: absolute;top:57%;right:0;font-size: 14px;color:#929292;}
.index-r-right p:nth-child(6){position: absolute;bottom:0;right:0;font-size: 14px;color:#b4b4b5;}

/*联系我们内容*/
.contact-up{width: 100%;height: 1rem;}
.contact-up-l,.contact-up-r{width: 50%;height: 100%;border: 1px dashed red;color:#333;font-size: 18px;line-height: 1rem}
.contact-down{position: relative;width: 100%;height: 5.1rem;border: 1px solid red;background-image: url("../img/contact.jpg");
background-size: 100% auto;background-repeat: no-repeat;}
.contact-down .down-mark{position:absolute;top:0;left:100%;width: 50%;height:100%;background-color:rgba(199,21,45,.7);}




/*页脚导航*/
#vueBottom{width: 100%;height:auto;background: #3e3a39}
.footNav{width:1400px;height: auto;margin: 0 auto;padding: .5rem 0 .5rem 0}
.footNav-01,.footNav-02,.footNav-03,.footNav-04,.footNav-05,.footNav-06,.footNav-07{width:14%;height: 1.8rem;padding:0 0 0 .4rem;}
.footDiv p{color:#e50044;font-size: 16px;margin: 0 0 2px 0!important;}
.footDiv li{color:#fff;font-size: 12px;line-height: 26px}
.address{width: 100%;height: .7rem;background: #363332;}
.addressBox{width: 1400px;height: auto;margin: 0 auto; color:#b4b4b5;line-height: .7rem;font-size: 14px}
.addressBox i{margin: 0 0 0 20px;}
.addressBox i:nth-child(1){margin: 0  auto;}
.addressAdd{margin: 0 0 0 22%;}


/*媒体查询*/
@media (max-width: 768px){
    /*重写响应式*/
    .container{width: 100%!important;padding:0 0!important;}
    .navbar{position:fixed!important;width: 100%;z-index:10}
    .footNav{display: none;padding:0 auto;}
}
@media (min-width: 768px){
    .navbar{width: 1400px;height: auto;margin: 0 auto;}
    .navbar-nav{float: right!important;}
    .navbar-nav>li>a {padding-top: 10px!important;padding-bottom: 10px!important;}
}
@media (min-width:1400px){
    /*重写响应式*/
    .container{width: 1400px!important;padding:0 0!important; }
    .navbar,.swiper-slide:nth-child(2){width:1400px;}
    .footNav,.addressBox{width: 1400px!important;}
}
@media (max-width:1400px) and (min-width: 1200px){
    /*重写响应式*/
    .container{width: 1200px!important;padding:0 0!important;}
    .navbar,.swiper-slide:nth-child(2){width:1200px;}
    .footNav,.addressBox{width: 1200px}
    .addressAdd{margin: 0 0 0 10%;}
    .footDiv p{font-size: 14px;}
    .footDiv li{font-size: 12px;}

}
@media (max-width:1200px) and (min-width: 1000px){
    /*重写响应式*/
    .container{width: 1000px!important;padding:0 0!important;}
    .navbar,.swiper-slide:nth-child(2){width:1000px;}
    .footNav,.addressBox{width: 1000px}
    .addressBox{font-size: 12px}
    .addressAdd{margin: 0 0 0 5%;}
    .footDiv p{font-size: 12px;}
    .footDiv{clear: both;width: 100%;}
    .footDiv ul li{font-size: 10px;float: left;width: 14%}
    .footNav-01,.footNav-02,.footNav-03,.footNav-04,.footNav-05,.footNav-06,.footNav-07 {
        height: auto;margin: 0 0 .1rem 0}
    .footNav-07 img{width: 10%}
}
@media (max-width:1000px) and (min-width: 768px){
    /*重写响应式*/
    .container{width: 768px!important;padding:0 0!important;}
    .navbar,.swiper-slide:nth-child(2){width:768px;}
    .footNav,.addressBox{width: 768px}
    .footDiv{clear: both;width: 100%;}
    .footDiv ul li{font-size: 10px;float: left;width: 18%}
    .footNav-01,.footNav-02,.footNav-03,.footNav-04,.footNav-05,.footNav-06,.footNav-07 {
        height: auto;margin: 0 0 .1rem 0}
    .footNav-07 img{width: 10%}
}
